@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-action="MovieSearch" asp-controller="IMDB">Search for a Movie</a><br />
    <a asp-action="MovieNight" asp-controller="IMDB">Find 3 Movies for MovieNight</a>
</div>
